@page "/product/{productId}"
@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject IToastService ToastService
@inject ICartService CartService
@inject AuthenticationStateProvider AuthStateProvider

@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        @if (isAdmin)
        {
            <div class="col">
                <img class="img-thumbnail" id="image" style="max-height: 20vh;" src="@product.ProductImage" />
                <h5 style="margin-top: 2vh;">@product.ProductName</h5>
                <h6>@product.ProductDescription</h6>
                <h6 style="color: teal; font-weight: bold">R @product.ProductPrice</h6>
                <button class="btn btn-secondary rounded-pill" style="width: 150px;"><i class="oi oi-pencil"></i>&nbsp;&nbsp;&nbsp;Edit</button>
                <button class="btn btn-danger rounded-pill" style="width: 150px;"><i class="oi oi-trash"></i>&nbsp;&nbsp;&nbsp;Delete</button>
            </div>
        }
        @if (isCustomer)
        {
            <div class="col">
                <img class="img-thumbnail" id="image" style="max-height: 20vh;" src="@product.ProductImage" />
                <h5 style="margin-top: 2vh;">@product.ProductName</h5>
                <h6>@product.ProductDescription</h6>
                <h6 style="color: teal; font-weight: bold">R @product.ProductPrice</h6>
                <button class="btn btn-primary rounded-pill" style="width: 150px;" @onclick="AddToCart"><i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add To Cart</button>
            </div>
        }
        @if (isReadOnly)
        {
            <div class="col">
                <h4 style="color: teal">Login to Shop!</h4>
                <p></p>
                <img class="img-thumbnail" id="image" style="max-height: 20vh;" src="@product.ProductImage" />
                <h5 style="margin-top: 2vh;">@product.ProductName</h5>
                <h6>@product.ProductDescription</h6>
                <h6 style="color: teal; font-weight: bold">R @product.ProductPrice</h6>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        Sorry, you do not have access to this page
    </NotAuthorized>
</AuthorizeView>
<style>
    #image:hover {
        transform: scale(1.1) rotate(5deg);
    }

    .img-thumbnail {
        border-radius: 15px;
    }
</style>



@code {

    [Parameter]
    public string ProductID { get; set; }
    private string Message;
    private bool isAdmin;
    private bool isCustomer;
    private bool isReadOnly;
    private Product product = new();

    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private AuthenticationState authState;
    private ClaimsPrincipal authUser;

    protected override async Task OnInitializedAsync()
    {
        product = await Http.GetFromJsonAsync<Product>("Product/GetProductById/" + ProductID.ToString());
        authState = await AuthStateProvider.GetAuthenticationStateAsync();
        authUser = authState.User;
        _claims = authUser.Claims;
        if (authUser.Identity.IsAuthenticated && authUser.IsInRole("isAdmin") == true)
        {
            isAdmin = true;
        }
        if (authUser.Identity.IsAuthenticated && authUser.IsInRole("isCustomer") == true)
        {
            isCustomer = true;
        }
        if (authUser.Identity.IsAuthenticated && authUser.IsInRole("isReadOnly") == true)
        {
            isReadOnly = true;
        }

    }

    private async Task AddToCart()
    {
        await CartService.AddToCart(product);
    }
}
